name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21.6

      - name: Fetch required Go modules
        run: go mod download

      - name: Build Go application
        run: go build -v ./...

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.21.0

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region eu-north-1 --name dev

      - name: Apply Kubernetes secrets
        run: kubectl apply -f k8s/app-secrets.yaml

      - name: Deploy to EKS
        run: |
          kubectl apply -f k8s/ecom-deployment.yaml
          kubectl apply -f k8s/ecom-service.yaml
          
